 <div id="cikis" class="cikismodal">
    <div class="cikismodal-content" >
      <div class="cikiscontainer">
        <h1 class="yazirenk">Hesaptan Çıkılıyor</h1>
        <p class="yazirenk">Hesabınızdan çıkış yapmak istediğinizden emin misiniz?</p>
        <button onclick="modalkapat()"  class="w3-btn w3-grey w3-round-xlarge w3-xxlarge  w3-margin-right  w3-margin-top"> İptal</button>
        <a href="{% url 'logout' %}"><button style="margin-top=500px;"  onclick="modalkapat()"  class=" w3-btn w3-red w3-round-xlarge w3-xxlarge  w3-margin-top ">Çıkış</button></a>
      </div>  
    </div> 
  </div>
   
