   <div > <!-- --------------- Tablo Kelim Sayısı ----------- -->
            <table cellspacing="0" cellpadding="0" style="margin-top:5%;" width="300">
            <tr><td>
              <table cellspacing="0" cellpadding="1"  width="300">
                <tr>
                  <th>Konum</th>
                  <th class="th2">Sayı</th>
                </tr>
              </table>
            </tr>
            </table>
            </td></tr><tr><td>
            <div style="width:300px; height:350px; margin-left:2%; overflow:auto;">
            <table cellspacing="0" cellpadding="1"width="300" >
              {% for  row in tweetkaynak %}
                <tr>
                  <td>{{row.source}}</td>
                  <td>{{row.id}}</td>
                </tr>
              {% endfor %}
            </table>
            </div></td></tr>
            </table>
          </div><!-- --------------- Tablo  Kelim Sayısı Sonu ----------- --> 