{% load static %}
<html >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="shortcut icon" href="{% static 'images/user.png' %}" />
</head>
<title>Giriş</title>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 loginSidenav"></div>
    
      <div class="col-sm-6 loginAralık" >
      <div style="top:10px; text-align: center;">
        <img src="{% static 'images/user.png' %}" width="25%" >
      </div>

      <form class="form" method="Post" style="margin-left: 25%;">    
        {% csrf_token %}
        <div class="form-inline">
         <i class="fa fa-user prefix grey-text mt-2 " style="font-size:25px; color:#feac00;"></i>    
         <input type="text" class="form-control ml-2" id="id_username" style="width:60%"  placeholder="Kullanıcı Adı" name="username" required>
        </div>

        <div class="form-inline">
          <i class="fa fa-lock prefix grey-text mt-3"  style="font-size:25px;  color:#feac00 ;"></i>
          <input type="password" class="form-control ml-2" style="width:60%; margin-top:15px; margin-right:5px;" id="id_password" placeholder="Parola" name="password" required>
          <i class='far fa-eye' id="iconDurum" style="font-size:20px; margin-top:15px; color:#feac00; " onclick="passwordG()"></i>
          <button type="button "style="width: 30%; margin-top:20px; margin-left:20%" class="btn btn-outline-warning">Giriş</button>        
        </div>
      </form>
    </div>
  </div>
</div>
<script>
function passwordG() {
  var passwordInput = document.getElementById('id_password');
  var passStatus = document.getElementById('iconDurum');
  if (passwordInput.type == 'password'){
    passwordInput.type='text';
    passStatus.className='fa fa-eye-slash';   
  }
  else{
    passwordInput.type='password';
    passStatus.className='fa fa-eye';
  }
}
</script>
</body>
</html>
